body{
    background-color: #f5edab;
}
    
button{
    background-color: bisque;
    font-size: 28px;
    font-weight: bolder;
    border-radius: 10%;
}
h1{text-align: center;}

li{
    font-size: 28px;
}
